<ion-header transluscent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="textoHeader">Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="margin-top: 2rem;">
    <ion-label>Notificações de conquistas</ion-label>
    <ion-toggle slot="start" name="kiwi" color="success" checked></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Notificações de Notícias</ion-label>
    <ion-toggle slot="start" name="kiwi" color="success" unchecked></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Localização</ion-label>
    <ion-toggle slot="start" name="kiwi" color="success" unchecked></ion-toggle>
  </ion-item>
</ion-content>
