<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: -webkit-center; margin-top: 2rem;">
        <img style="width: 90%; height: 100%; margin-bottom: 1rem;" src="https://static.kbb.com.br/Uploads/ResearchTools/News/2789/e00a9a8f-4cd9-41e0-8a87-cf0e4ff097fb_1365x1024.jpg">
    <ion-label color="primary" style="font-size: 25px;">
        Ford Ka
        </ion-label>
    </div>


    <ion-item>
      <small>Ano: &nbsp;&nbsp;</small>
      <p>2015</p>
    </ion-item>
    <ion-item>
      <small>Cor: &nbsp;&nbsp;</small>
      <p>Preto</p>
    </ion-item>
    <ion-item>
      <small>Placa: &nbsp;&nbsp;</small>
      <p>EEO-2213</p>
    </ion-item>
    <ion-item>
      <small>Última revisão: &nbsp;&nbsp;</small>
      <p>28/07/2019</p>
    </ion-item>
    <ion-item>
      <small>IPVA: &nbsp;&nbsp;</small>
      <p>Pago em 03/01/2020</p>
    </ion-item>
</ion-content>
