<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="textoHeader">Recompensas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>50 FCoins <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>Lvl 10</div></h2>
    </ion-label>
  </ion-item> -->

  <ion-card style="background-color: aliceblue;">
    <ion-card-header>
    <ion-card-title>Level 1</ion-card-title>
    <ion-label>
      <div style="float: right;"><ion-icon style="color: gold; margin-top: -10rem; zoom: 3;" name="star"></ion-icon></div>
    </ion-label>
    <ion-card-subtitle>Recompensa:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Bônus de 10% de XP (5 Dias)</ion-card-content>
  </ion-card>

  <ion-card style="background-color: aliceblue;">
    <ion-card-header>
    <ion-card-title>Level 10</ion-card-title>
    <ion-label>
      <div style="float: right;"><ion-icon style="color: gold; margin-top: -10rem; zoom: 3;" name="star"></ion-icon></div>
    </ion-label>
    <ion-card-subtitle>Recompensa:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>50 FCoins</ion-card-content>
  </ion-card>

  <ion-card style="background-color: aliceblue;">
    <ion-card-header>
    <ion-card-title>Level 20</ion-card-title>
    <ion-label>
      <div style="float: right;"><ion-icon style="color: gold; margin-top: -10rem; zoom: 3;" name="star"></ion-icon></div>
    </ion-label>
    <ion-card-subtitle>Recompensa:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>70 FCoins</ion-card-content>
  </ion-card>

  <ion-card style="background-color: aliceblue;">
    <ion-card-header>
    <ion-card-title>Level 30</ion-card-title>
    <ion-label>
      <div style="float: right;"><ion-icon style="color: gold; margin-top: -10rem; zoom: 3;" name="star"></ion-icon></div>
    </ion-label>
    <ion-card-subtitle>Recompensa:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Bônus de 30% de XP (4 Dias)</ion-card-content>
  </ion-card>

  <ion-card style="background-color: aliceblue;">
    <ion-card-header>
    <ion-card-title>Level 40</ion-card-title>
    <ion-label>
      <div style="float: right;"><ion-icon style="color: gold; margin-top: -10rem; zoom: 3;" name="star"></ion-icon></div>
    </ion-label>
    <ion-card-subtitle>Recompensa:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Bônus de 70% de XP (1 Dia)</ion-card-content>
  </ion-card>

  <ion-card style="background-color: aliceblue;">
    <ion-card-header>
    <ion-card-title>Level 50</ion-card-title>
    <ion-label>
      <div style="float: right;"><ion-icon style="color: gold; margin-top: -10rem; zoom: 3;" name="star"></ion-icon></div>
    </ion-label>
    <ion-card-subtitle>Recompensa:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>120 FCoins</ion-card-content>
  </ion-card>

  <ion-card style="background-color: aliceblue;">
    <ion-card-header>
    <ion-card-title>Level 60</ion-card-title>
    <ion-label>
      <div style="float: right;"><ion-icon style="color: grey; margin-top: -10rem; zoom: 3;" name="star"></ion-icon></div>
    </ion-label>
    <ion-card-subtitle>Recompensa:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Bonus de 100% de XP (2 Dias)</ion-card-content>
  </ion-card>
</ion-content>