<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recompensas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Teste</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Aaoidjsaodojias</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Opsaokdapodpokd</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Aekqek</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Uuwqeuqej</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Llsadadladmmal</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Zikakakakaksakd </h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Rqwewfdsfsfd</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Rewwerrwrwr</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Reckrekjtjekrt</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Recomqoowqe</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Kwwqeqe</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Kjkjkjkjkkj</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Zpoakpoadkos</h2>
    </ion-label>
  </ion-item>
</ion-content>