<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recompensas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Bônus de 10% de XP (5 Dias) <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>Lvl 1</div></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>50 FCoins <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>Lvl 10</div></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Bônus de 15% de XP (3 Dias) <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>Lvl 20</div></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>100FCoins <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>Lvl 30</div></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Uuwqeuqej <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>Lvl 40</div></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Llsadadladmmal <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>Lvl 50</div></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Zikakakakaksakd <div style="float: right;"><ion-icon style="color: grey;" name="star"></ion-icon>Lvl 60</div></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Rqwewfdsfsfd <div style="float: right;"><ion-icon style="color: grey;" name="star"></ion-icon>Lvl 70</div></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Rewwerrwrwr <div style="float: right;"><ion-icon style="color: grey;" name="star"></ion-icon>Lvl 80</div></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Reckrekjtjekrt <div style="float: right;"><ion-icon style="color: grey;" name="star"></ion-icon>Lvl 90</div></h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Recomqoowqe <div style="float: right;"><ion-icon style="color: grey;" name="star"></ion-icon>Lvl 100</div></h2>
    </ion-label>
  </ion-item>

  <ion-card style="background-color: aliceblue;">
    <ion-card-header>
      <ion-avatar slot="start">
        <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="ribbon"></ion-icon>
      </ion-avatar>
    <ion-card-title>Level 1</ion-card-title>
    <ion-card-subtitle>Recompensa:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Bônus de 10% de XP (5 Dias)</ion-card-content>
  </ion-card>

  <ion-card style="background-color: aliceblue;">
    <ion-card-header>
    <ion-card-title>Level 10</ion-card-title>
    <ion-card-subtitle>Recompensa:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>10 Ford Coins</ion-card-content>
  </ion-card>

  <ion-card style="background-color: aliceblue;">
    <ion-card-header>
    <ion-card-title>Level 20</ion-card-title>
    <ion-card-subtitle>Recompensa:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Bônus de 15% de XP (2 Dias)</ion-card-content>
  </ion-card>
</ion-content>