.item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    --border-radius: 50%;
    background-color:#747474;
    }

.chip {
    width:100% !important;  
    height : 100% !important;  
}

.ion-button {
    font-size: larger;
    align-self: center;
    width: 75px !important;
    height: 75px !important;
}