<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select placeholder="Selecione o modelo" style="height: 10%;" (ionChange)="habilitaItens()">
    <ion-select-option *ngFor="let carro of listaCarros">{{ carro }}</ion-select-option>
  </ion-select>
  <ion-item *ngIf="habilita == true" style="top: 0.1rem;">
    <ion-label >Kit de pneus</ion-label>
    <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="habilita == true" style="top: 0.1rem;">
    <ion-label>Protetor de volante</ion-label>
    <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="habilita == true" style="top: 0.1rem;">
    <ion-label>Perfume de carro</ion-label>
    <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="habilita == true" style="top: 0.1rem;">
    <ion-label>Motor tunado</ion-label>
    <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="habilita == true" style="top: 0.1rem;">
    <ion-label>Aros personalizados</ion-label>
    <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="habilita == true" style="top: 0.1rem;">
    <ion-label>Limpeza na concessionária</ion-label>
    <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="habilita == true" style="top: 0.1rem;">
    <ion-label>Troca de óleo</ion-label>
    <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="habilita == true" style="top: 0.1rem;">
    <ion-label>Pneu blindado a furos</ion-label>
    <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="habilita == true" style="top: 0.1rem;">
    <ion-label>Vidro blindado</ion-label>
    <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
  </ion-item>
  <section *ngIf="habilita == true" style="padding-top: 20%; padding-left: 1.5%; background-color: white;">
    <ion-button class="botaoParaCheckbox" size="large" slot="end" color="medium">Cancelar</ion-button>
    <ion-button class="botaoParaCheckbox" size="large" slot="end" color="medium" (click)="presentAlert()">Comprar</ion-button>
  </section>
</ion-content>