<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select placeholder="Selecione o modelo" style="height: 10%;" (ionChange)="habilitaItens()">
    <ion-select-option *ngFor="let carro of listaCarros">{{ carro }}</ion-select-option>
  </ion-select>
  <ion-item *ngIf="habilita == true" style="top: 3rem;">teste
    <ion-label>teste 123</ion-label>
  </ion-item>
</ion-content>