<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Objetivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>Missoes diarias</ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Motorista exemplar</h2>
      <small>Obedeça a 10 semáforos seguidos</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Usuário mestre</h2>
      <small>Cadastre 3 veículos no seu usuário</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Segurança no tanque</h2>
      <small>Abasteça 5 vezes sem que o tanque atinja a reserva</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Corredor</h2>
      <small>Rode 200km em 1 dia em sua cidade</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Amigável</h2>
      <small>Faça 5 amigos no app</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Turista</h2>
      <small>Visite um ponto turístico em sua cidade</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Motorista dentro da lei</h2>
      <small>Sinalize 10 conversões seguidas corretamente</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>A todo gás</h2>
      <small>Rode por 1 mês sem pneus murchos</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Velocidade consciente</h2>
      <small>Não ultrapasse a velocidade permitida durante 1 semana</small>
    </ion-label>
  </ion-item>

  <ion-list-header style="color: gold;">Missoes FordPass</ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Lâmpada acesa</h2>
      <small>Dirija durante 1 mês sem lâmpadas queimadas</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Usuário ativo</h2>
      <small>Desviou de um caminhão e saiu ileso</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Praiano</h2>
      <small>Dirija para a praia durante o final de semana</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Revisão correta</h2>
      <small>Passe no mecânico para revisão 1 vez por mês</small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Motorista Sagaz</h2>
      <small>Dirija por 100km sem a ocorrência de batidas</small>
    </ion-label>
  </ion-item>
</ion-content>