<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="textoHeader">Estatísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Nível de Água <ion-icon name="water"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="0.5"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Nível de gasolina <ion-icon name="speedometer"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar style="height: 10px; border-radius: 10px;" value="0.5"></ion-progress-bar>
      <br>
      <h1 style = "color: rgb(72, 0, 187); font-weight:900; font-family: Arial;">50% cheio</h1>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Odômetro <ion-icon name="radio-button-off-outline"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1 style = "color: rgb(72, 0, 187); font-weight:900; font-family: Arial;">40.000 Km</h1>
      <br>
      <ion-progress-bar style="height: 20px; border-radius: 10px;" value="0.8"></ion-progress-bar>
      <h2>10.000 Km para a proxima revisao</h2>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Status dos Pneus 
        <ion-icon src="https://www.flaticon.com/svg/static/icons/svg/810/810036.svg">
      </ion-icon>
    </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title>
        Pneus Dianteiros
      </ion-card-title>
      

      <ion-list>

        <ion-item>
        <ion-note slot="end" color="success">
          <ion-icon name="ellipse"></ion-icon>
        </ion-note>
        <ion-label>Direito</ion-label>
        </ion-item>
        <ion-chip>
        <ion-label>
          30 PSI
        </ion-label>
      </ion-chip>

        <ion-item>
        <ion-note slot="end" color="warning">
          <ion-icon name="ellipse"></ion-icon>
        </ion-note>
        <ion-label>Esquerdo</ion-label>
        </ion-item>
        <ion-chip>
          <ion-label>
            30 PSI
          </ion-label>
        </ion-chip>

      </ion-list>
      
      <br>

      <ion-card-title>
        Pneus Traseiros
      </ion-card-title>

      <ion-list>

        <ion-item>
        <ion-note slot="end" color="danger">
          <ion-icon name="ellipse"></ion-icon>
        </ion-note>
        <ion-label>Direito</ion-label>
        </ion-item>
        <ion-chip>
          <ion-label>
            30 PSI
          </ion-label>
        </ion-chip>

        <ion-item>
        <ion-note slot="end" color="success">
          <ion-icon name="ellipse"></ion-icon>
        </ion-note>
        <ion-label>Esquerdo</ion-label>
        </ion-item>
        <ion-chip>
          <ion-label>
            30 PSI
          </ion-label>
        </ion-chip>
      
      </ion-list>

    </ion-card-content>

    <ion-card-title>Última Troca</ion-card-title>
    <ion-item color = "primary">
      <ion-label>22/04/2020</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Taxa mensal de</ion-card-subtitle>
      <ion-card-title>Uso do Carro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Consumo por Mês de</ion-card-subtitle>
      <ion-card-title>Gasolina</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #hrzBarChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Média diária de</ion-card-subtitle>
      <ion-card-title>Temperatura do Motor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #hrzBarChart3></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Consumo médio semanal de</ion-card-subtitle>
      <ion-card-title>Quilometro por Litro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart2></canvas>
    </ion-card-content>
  </ion-card>

  

</ion-content>
