<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-button class="balao-mensagem-ford" color="light"><div style="float: left;">Bem-vindo(a) ao Chat!</div></ion-button>
  <br>
  <ion-button class="balao-mensagem-ford" color="light">Possui alguma dúvida?</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input style="background-color: white; width: 21rem; border-radius: 1rem;"></ion-input>
    <ion-icon style="zoom: 2; float: right; margin-top: -1.1rem; margin-right: 0.5rem;" name="send"></ion-icon>
  </ion-toolbar>
</ion-footer>