<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>
  <ion-button class="balao-mensagem-ford" color="light"><div style="float: left;">Bem-vindo(a) ao Chat!</div></ion-button>
  <br>
  <ion-button class="balao-mensagem-ford" color="light">Possui alguma dúvida?</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input style="background-color: white; width: 21rem; border-radius: 1rem;"></ion-input>
    <ion-icon style="zoom: 2; float: right; margin-top: -1.1rem; margin-right: 0.5rem;" name="send"></ion-icon>
  </ion-toolbar>
</ion-footer>
  <ion-content class="assistant">
    <iframe  
    src="https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=us-south&integrationID=8c0cf815-321b-44c6-9ea1-87c4c9d9c157&serviceInstanceID=3fb75b05-b577-4ed4-8dda-7ec532afbb27"
     width="414" height="736" frameborder="1" referrerpolicy="no-referrer" scrolling="no"></iframe>
  </ion-content>



 
