<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>tiers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>Insignias</ion-list-header>
  <ion-card>
    <ion-card-subtitle>Level 1-10</ion-card-subtitle>
    <ion-card-title style="color: rgba(31, 172, 3, 0.788);">Rookie</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/7/70/Season_2019_-_Iron_4.png/revision/latest/scale-to-width-down/130?cb=20181229234928">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 11-25</ion-card-subtitle>
    <ion-card-title style="color: rgb(6, 135, 255);">Adept</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/0/03/Season_2019_-_Iron_1.png/revision/latest/scale-to-width-down/130?cb=20181229234926">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 26-35</ion-card-subtitle>
    <ion-card-title style="color: rgb(19, 1, 182);">Soldier</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/5/5a/Season_2019_-_Bronze_4.png/revision/latest/scale-to-width-down/130?cb=20181229234913">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 36-45</ion-card-subtitle>
    <ion-card-title style="color: rgb(126, 0, 143);">Captain</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/f/f4/Season_2019_-_Bronze_1.png/revision/latest/scale-to-width-down/130?cb=20181229234910">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 46-55</ion-card-subtitle>
    <ion-card-title style="color: rgb(61, 0, 68);">Chief</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/5/52/Season_2019_-_Silver_4.png/revision/latest/scale-to-width-down/130?cb=20181229234938">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 56-70</ion-card-subtitle>
    <ion-card-title style="color: rgb(212, 209, 0);">Warlord</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/7/70/Season_2019_-_Silver_1.png/revision/latest/scale-to-width-down/130?cb=20181229234936">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 71-80</ion-card-subtitle>
    <ion-card-title style="color: rgb(255, 197, 7);">Captain</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/c/cc/Season_2019_-_Gold_4.png/revision/latest/scale-to-width-down/130?cb=20181229234922">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 81-95</ion-card-subtitle>
    <ion-card-title style="color: rgb(255, 169, 89);">Judicator</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/9/96/Season_2019_-_Gold_1.png/revision/latest/scale-to-width-down/130?cb=20181229234920">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 96-100</ion-card-subtitle>
    <ion-card-title style="color: rgb(219, 105, 60);">Vidicator</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/7/74/Season_2019_-_Platinum_1.png/revision/latest/scale-to-width-down/130?cb=20181229234932">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 101-120</ion-card-subtitle>
    <ion-card-title style="color: rgb(255, 94, 0);">Lord</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/d/dc/Season_2019_-_Diamond_3.png/revision/latest/scale-to-width-down/130?cb=20181229234918">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 121-140</ion-card-subtitle>
    <ion-card-title style="color: rgb(255, 138, 138);">Grand Lord</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/9/91/Season_2019_-_Diamond_1.png/revision/latest/scale-to-width-down/130?cb=20181229234917">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 141-160</ion-card-subtitle>
    <ion-card-title style="color: rgb(255, 0, 0);">Master</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/4/46/Season_2019_-_Master_3.png/revision/latest/scale-to-width-down/130?cb=20181229234930">
  </ion-card>
  
  <ion-card>
    <ion-card-subtitle>Level 161-180</ion-card-subtitle>
    <ion-card-title style="color: rgb(173, 2, 2);">GrandMaster</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/1/11/Season_2019_-_Master_1.png/revision/latest/scale-to-width-down/130?cb=20181229234929">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 181-200</ion-card-subtitle>
    <ion-card-title style="color: rgb(207, 207, 207);">Challenger</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/f/f6/Season_2019_-_Grandmaster_3.png/revision/latest/scale-to-width-down/130?cb=20181229234924">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 201-250</ion-card-subtitle>
    <ion-card-title style="color: rgb(128, 128, 128);">GrandChallenger</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/7/76/Season_2019_-_Grandmaster_1.png/revision/latest/scale-to-width-down/130?cb=20181229234923">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 251-400</ion-card-subtitle>
    <ion-card-title style="color: rgb(0, 0, 0);">FordGod</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/e/e0/Season_2019_-_Challenger_3.png/revision/latest/scale-to-width-down/130?cb=20181229234915">
  </ion-card>

  <ion-card>
    <ion-card-subtitle>Level 401-???</ion-card-subtitle>
    <ion-card-title style="color: gold;">Ultima Omega Alpha FordGod</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/5/5f/Season_2019_-_Challenger_1.png/revision/latest/scale-to-width-down/130?cb=20181229234913">
  </ion-card>


  

</ion-content>
