.badge {
    margin-top: auto;
    margin-left: 7rem;
    margin-bottom: 1rem;  
    width:100% !important;  
    height : 100% !important;  
    max-width: 150px !important;  //any size
    max-height: 150px !important; //any size 
}
