<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tiers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>Insignias
    <ion-button (click)="presentPopover()">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-button>
  </ion-list-header>
  <ion-card style="border-color: rgba(31, 172, 3); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 1-10</ion-card-subtitle>
    <ion-card-title style="color: rgba(31, 172, 3, 0.788);">Iniciante de carta</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/7/70/Season_2019_-_Iron_4.png/revision/latest/scale-to-width-down/130?cb=20181229234928">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color: rgb(6, 135, 255); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 11-25</ion-card-subtitle>
    <ion-card-title style="color: rgb(6, 135, 255);">Novato</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/0/03/Season_2019_-_Iron_1.png/revision/latest/scale-to-width-down/130?cb=20181229234926">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color: rgb(19, 1, 182); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 26-35</ion-card-subtitle>
    <ion-card-title style="color: rgb(19, 1, 182);">Motorista</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/5/5a/Season_2019_-_Bronze_4.png/revision/latest/scale-to-width-down/130?cb=20181229234913">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color: rgb(126, 0, 143); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 36-45</ion-card-subtitle>
    <ion-card-title style="color: rgb(126, 0, 143);">Motorista experiente</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/f/f4/Season_2019_-_Bronze_1.png/revision/latest/scale-to-width-down/130?cb=20181229234910">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color:  rgb(61, 0, 68); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 46-55</ion-card-subtitle>
    <ion-card-title style="color: rgb(61, 0, 68);">Piloto</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/5/52/Season_2019_-_Silver_4.png/revision/latest/scale-to-width-down/130?cb=20181229234938">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color:  rgb(212, 209, 0); border-style: groove; border-width: 4px; text-align: center; ">
    <ion-card-subtitle>Level 56-70</ion-card-subtitle>
    <ion-card-title style="color: rgb(212, 209, 0);">Piloto profissional</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/7/70/Season_2019_-_Silver_1.png/revision/latest/scale-to-width-down/130?cb=20181229234936">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color:  rgb(255, 197, 7); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 71-80</ion-card-subtitle>
    <ion-card-title style="color: rgb(255, 197, 7);">Veterano no volante</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/c/cc/Season_2019_-_Gold_4.png/revision/latest/scale-to-width-down/130?cb=20181229234922">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card  style="border-color: rgb(255, 169, 89); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 81-95</ion-card-subtitle>
    <ion-card-title style="color: rgb(255, 169, 89);">Veloz e Furioso</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/9/96/Season_2019_-_Gold_1.png/revision/latest/scale-to-width-down/130?cb=20181229234920">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color:  rgb(219, 105, 60); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 96-100</ion-card-subtitle>
    <ion-card-title style="color: rgb(219, 105, 60);">Drift King</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/7/74/Season_2019_-_Platinum_1.png/revision/latest/scale-to-width-down/130?cb=20181229234932">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card  style="border-color:  rgb(255, 94, 0); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 101-120</ion-card-subtitle>
    <ion-card-title style="color: rgb(255, 94, 0);">Rei dos volantes</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/d/dc/Season_2019_-_Diamond_3.png/revision/latest/scale-to-width-down/130?cb=20181229234918">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color:  rgb(255, 138, 138); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 121-140</ion-card-subtitle>
    <ion-card-title style="color: rgb(255, 138, 138);">Deus dos volantes</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/9/91/Season_2019_-_Diamond_1.png/revision/latest/scale-to-width-down/130?cb=20181229234917">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color: rgb(255, 0, 0); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 141-160</ion-card-subtitle>
    <ion-card-title style="color: rgb(255, 0, 0);">Novo Senna</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/4/46/Season_2019_-_Master_3.png/revision/latest/scale-to-width-down/130?cb=20181229234930">
      <app-rewards></app-rewards>
    </ion-card>
  
  <ion-card style="border-color:rgb(173, 2, 2); border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 161-180</ion-card-subtitle>
    <ion-card-title style="color: rgb(173, 2, 2);">Schumaquer</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/1/11/Season_2019_-_Master_1.png/revision/latest/scale-to-width-down/130?cb=20181229234929">
      <app-rewards></app-rewards>

    </ion-card>

  <ion-card style="border-color:rgb(207, 207, 207); border-style: groove;  border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 181-200</ion-card-subtitle>
    <ion-card-title style="color: rgb(207, 207, 207);">Ford Baron</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/f/f6/Season_2019_-_Grandmaster_3.png/revision/latest/scale-to-width-down/130?cb=20181229234924">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color: rgb(128, 128, 128); border-style: groove;  border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 201-250</ion-card-subtitle>
    <ion-card-title style="color: rgb(128, 128, 128);">Ford Prince</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/7/76/Season_2019_-_Grandmaster_1.png/revision/latest/scale-to-width-down/130?cb=20181229234923">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color:rgb(0, 0, 0); border-style: groove;  border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 251-400</ion-card-subtitle>
    <ion-card-title style="color: rgb(0, 0, 0);">Ford King</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/e/e0/Season_2019_-_Challenger_3.png/revision/latest/scale-to-width-down/130?cb=20181229234915">
      <app-rewards></app-rewards>
    </ion-card>

  <ion-card style="border-color:gold; border-style: groove; border-width: 4px; text-align: center;">
    <ion-card-subtitle>Level 401-???</ion-card-subtitle>
    <ion-card-title style="color: gold;">Ford God</ion-card-title>
      <img class="badge" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/5/5f/Season_2019_-_Challenger_1.png/revision/latest/scale-to-width-down/130?cb=20181229234913">
      <app-rewards></app-rewards>
    </ion-card>


  

</ion-content>
