<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="textoHeader">Missões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>Missões Diarias</ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Corredor ativo<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Percorra 10km <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Motorista Consciente<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Respeite 5 semáforos consecutivos <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Aluno exemplar<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Sinalize 10 conversões seguidas <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Tanque cheio<div style="float: right;"><ion-icon style="color: grey;" name="cash"></ion-icon>50</div></h2>
      <small>Abasteça seu carro <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Motorista inocente<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Não receba multa <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-list-header style="color: blue;">Missões Semanais</ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Corredor ativo<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Percorra 10km <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Motorista Consciente<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Respeite 5 semáforos consecutivos <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Aluno exemplar<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Sinalize 10 conversões seguidas <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Tanque cheio<div style="float: right;"><ion-icon style="color: grey;" name="cash"></ion-icon>50</div></h2>
      <small>Abasteça seu carro <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: green;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Motorista inocente<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Não receba multa <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-list-header style="color: gold;">Missões FordPass</ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Consciencia diária <div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Rode 10km sem ganhar multa <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Corredor ativo 2 <div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Percorra 15km <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Motorista consciente 2 <div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Respeite 10 semáforos consecutivos <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: grey;" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Aluno exemplar 2 <div style="float: right;"><ion-icon style="color: grey;" name="cash"></ion-icon>50</div></h2>
      <small>Sinalize 15 conversões seguidas <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold" name="checkmark-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Velocista <div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      <small>Atinja 60km/h <div style="float: right;"><ion-icon style="color: gold;" name="star"></ion-icon>50</div></small>
    </ion-label>
  </ion-item>
</ion-content>