<ion-card-title>Recompensas:</ion-card-title>
<ion-slides>

  <ion-slide>

    <ion-card class="card-rewards">

    <ion-card style="border-style: groove; border-color: rgba(128, 128, 128, 0.384);">
      <ion-card-title style="margin: 10px;">100
        <ion-icon style="color: green;" name="cash"></ion-icon>
      </ion-card-title>
    </ion-card>
    <ion-card class="border-card">
      <ion-card-subtitle style="color: gold; font-size: medium;">FordPass</ion-card-subtitle>
      <ion-card-title style="margin: 10px;">+200
        <ion-icon style="color: green;" name="cash"></ion-icon>
      </ion-card-title>
    </ion-card>

  </ion-card>
  </ion-slide>

  <ion-slide>

    <ion-card class="card-rewards">

    <ion-card style="border-style: groove; border-color: rgba(128, 128, 128, 0.384);">
      <ion-card-title style="margin: 10px;">100
        <ion-icon style="color: gold;" name="star"></ion-icon>
      </ion-card-title>
    </ion-card>

    <ion-card class="border-card">
      <ion-card-subtitle style="color: gold; font-size: medium;">FordPass</ion-card-subtitle>
        <ion-card-title style="margin: 10px;">+200

          <ion-icon style="color: gold;" name="star"></ion-icon>
        </ion-card-title>
      </ion-card>

    </ion-card>

  </ion-slide>

</ion-slides>