<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ford-shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
  <ion-list-header>Missões Diarias</ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="trophy"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Premio 1<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>200</div></h2>
      
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="trophy"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Premio 2<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>100</div></h2>
      
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="trophy"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Premio 3<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
      
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="trophy"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Premio 4<div style="float: right;"><ion-icon style="color: grey;" name="cash"></ion-icon>50</div></h2>
      
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="width: 100%; height: 80%; margin-top: 0.1rem; color: gold;" name="trophy"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Premio 5<div style="float: right;"><ion-icon style="color: green;" name="cash"></ion-icon>50</div></h2>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
